@font-face {
  font-family: "jose";
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

body {
  font-family: "jose";
  background-color: #292a2d;
  color: #a9a9b3;
}

.allCardProject {
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
